<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>250485435033-m7eu705e24gl9vbiqni6997nh1liv72a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250485435033-m7eu705e24gl9vbiqni6997nh1liv72a</string>
	<key>API_KEY</key>
	<string>AIzaSyBEz4v80AXAHMThaPxBPw4d2mdrmxH41I4</string>
	<key>GCM_SENDER_ID</key>
	<string>250485435033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lakeisdeCS.TriHealth</string>
	<key>PROJECT_ID</key>
	<string>trihealth-d669c</string>
	<key>STORAGE_BUCKET</key>
	<string>trihealth-d669c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:250485435033:ios:5c41421fdd1e577a</string>
	<key>DATABASE_URL</key>
	<string>https://trihealth-d669c.firebaseio.com</string>
</dict>
</plist>
